<section class="container-fluid">
  <h4 class="text-center mt-5 mb-4">திருக்குறள்</h4>
  <div class="container">
    <div class=" mt-3 mb-2">
      திருக்குறள் (Thirukkural) உலகப்புகழ் பெற்ற தமிழ் இலக்கியமாகும். இதனை இயற்றியவர் திருவள்ளுவர் என்று அறியப்படுபவர்.
      இதில் 1330 குறள்கள் பத்து பத்தாக 133 அதிகாரங்களின் கீழ் தொகுக்கப் பெற்றுள்ளன. திருக்குறள் சங்க இலக்கிய
      வகைப்பாட்டில்
      பதினெண்கீழ்க்கணக்கு எனப்படும் பதினெட்டு நூல்களின் திரட்டில் இருக்கிறது. இது அடிப்படையில் ஒரு வாழ்வியல் நூல்.
      மாந்தர்கள் தம் அகவாழ்விலும் சுமுகமாக கூடி வாழவும், புற வாழ்விலும் இன்பமுடனும் இசைவுடனும் நலமுடனும் வாழவும் தேவையான
      அடிப்படைப் பண்புகளை விளக்குகிறது. இந்நூல் அறம், பொருள், இன்பம் அல்லது காமம் என்னும் முப்பெரும் பிரிவுகளாய்
      (முப்பால்) பிரித்தும் அழகுடன் இணைத்தும் கோர்த்தும் விளக்குகிறது.
    </div>
    <div class="my-2">
      வாழ்வியலின் எல்லா அங்கங்களையும் திருக்குறள் கூறுவதால், அதைச் சிறப்பித்துப் பல பெயர்களால் அழைப்பர்: திருக்குறள்,
      முப்பால், உத்தரவேதம், தெய்வநூல், பொதுமறை, பொய்யாமொழி, வாயுறை வாழ்த்து, தமிழ் மறை, திருவள்ளுவம் என்ற பெயர்கள்
      அதற்குரியவை. கருத்துக்களை இன, மொழி, பாலின பேதங்களின்றி காலம் கடந்தும் பொருந்துவது போல் கூறி உள்ளதால் இந்நூல்
      "உலகப்
      பொது மறை" என்றும் அழைக்கப்படுகிறது
    </div>

    <div class="my-3">
      <form>
        <label for="thirukkural">திருக்குறள் எண்ணை தேர்வு செய்யவும் :</label>
        <br>
        <select name="" id="" class="form-control" (change)="getThirukkural($event.target)">
          <option selected hidden>--தேர்வு செய்யவும்--</option>
          <option *ngFor="let i of thirukkuralNo" [value]="i">{{i}}</option>
        </select>
      </form>
    </div>

    <div class="my-5" *ngIf="data">
      <div>{{data.line1}}</div>
      <div>{{data.line2}}</div>
    </div>
  </div>
  
</section>